.wapper-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title-and-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-list {
  width: 1232px;
  height: 70px;
  padding: 0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 12px;
  border-color: rgba(198, 198, 198, 1);
  font-family: 'Magra', sans-serif;
  color: #c6c6c6;
  font-size: 24px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-list {
  width: 1232px;
  height: 70px;
  padding: 0;
  background: #00ced1;
  border: none;
  font-family: 'Magra', sans-serif;
  color: #ffffff;
  font-size: 36px;
  cursor: pointer;
}

.items-list {
  background: #00ced1;
  width: 237px;
  height: 244px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list-contents {
  display: flex;
  flex-direction: row;
  gap: 120px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.first-item, .second-item {
  font-family: 'Magra', sans-serif;
  color: #ffffff;
  font-size: 36px;
}

.p-name-item {
  margin-top: 0;
}

.p-item {
  margin: 0;
  text-align: center;
  color: black;
}

.erase-list {
  width: 32px;
  height: 43px;
  background: #00ced1;
  cursor: pointer;
}

.erase-button-list {
  width: 32px;
  height: 43px;
  background: #00ced1;
  border: none;
  outline: 0;
}

.img-form {
  margin-left: 160px;
  margin-top: 14px;
}

